$background : #0c0c0c;
$foreground : #f4f4f4;
$background-alt : #161616;
$background-light : #1f1f1f;
$foreground-alt : #e0e0e0;
$red : #902c3b;
$red-light : #ed8796;

$green : #2a8664;
$green-light : #a6da95;


$yellow : #eed49f;
$yellow-light : #e1a36b;

$blue : #8aadf4;
$blue-light : #87cefa;

$cyan : #00ffff;
$cyan-light : #8bd5ca;

$magenta : #ff00ff;
$magenta-light : #b7bdf8;

$comment : #525252;
$accent : #8aadf4;
