$background : #0c0c0c;
$foreground : #f4f4f4;
$background-alt : #161616;
$background-light : #1f1f1f;
$foreground-alt : #e0e0e0;
$red : #902c3b;
$red-light : #c1374b;

$green : #2a8664;
$green-light : #32ae80;


$yellow : #d78438;
$yellow-light : #e1a36b;

$blue : #546ad8;
$blue-light : #738be7;

$cyan : #1f7a89;
$cyan-light : #2b9eb0;

$magenta : #875fd4;
$magenta-light : #9e7ad5;

$comment : #525252;
$accent : #546ad8;
