$bg : #1a2033;
$bg-alt : #2c4a56;
$foreground : #b68478;
$selected : #cc7a5b;
$active : #c97e5c;
$text-selected : #1a2033;
$text-color : #fddbc1;
$border-color : #af877e;
$urgent : #bc8171;

$pink : #f5bde6;
$mauve : #c6a0f6;
$red : #ed8796;
$yellow : #eed49f;
$green : #a6da95;
$blue : #8aadf4;
$lavender : #b7bdf8;
